.item {
    display: block;
    min-height: 3rem;
    line-height: 3rem;
    border-bottom: solid 1px #aaa;
    padding: 0.5rem;
}

.item:hover {
    background-color: blue;
    color: #fff;
}

.drag-wrapper {
    min-height: 3rem;
    border: dashed 2px #333;
}