<div class="example-config">
  <h5>Team A: {{teamA | json}}</h5>
  <h5>Team B: {{teamB | json}}</h5>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h5>Team A</h5>
      <kendo-sortable [kendoSortableBinding]="itemsA" zone="twoWay">
        <ng-template let-item="item">
          {{item.name}}
        </ng-template>
      </kendo-sortable>
    </div>
    <div class="col-12">
      <h5>Team B</h5>
      <kendo-sortable [kendoSortableBinding]="itemsB" zone="twoWay">
        <ng-template let-item="item">
          {{item.name}}
        </ng-template>
      </kendo-sortable>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary" (click)="newItem()">Add Items</button>
    </div>
  </div>
</div>